<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="intro" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="intro" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="intro" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="intro" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Intro to AngularJS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <script src="app.js"></script>
</head>

<body ng-controller="introCtrl">
  <div class="titleBar">
    <h1>
      Introduction to AngularJS
    </h1>
  </div>
  <div class="content">
    <form name="rgbForm">
      <input ng-model="red" type="number" min=0 max=255 name="red"> Red</input>
      <br>
      <input ng-model="green" type="number" min=0 max=255 name="green"> Green</input>
      <br>
      <input ng-model="blue" type="number" min=0 max=255 name="blue"> Blue</input>
      <br>
    </form>
    <div class="logoText" ng-style="getRgbColour(red, green, blue)">
      <span>Angular</span><span class="redJs">JS</span>
    </div>
    <span ng-click="addLogo(red, green, blue)" class="addButton" ng-show="rgbForm.$valid">+</span>
      <ul>
        <li>
          Red: {{red}}
        </li>
        <li>
          Green: {{green}}
        </li>
        <li>
          Blue: {{blue}}
        </li>
      </ul>
  </div>
  <div ng-show="logoList.length > 0">
    <h2>
      Angular Logos
    </h2>
    <div class="content">
      <ul>
        <li ng-repeat="logo in logoList">
          <div class="logoText" ng-style="getRgbColour(logo.red, logo.green, logo.blue)">
            <span>Angular</span><span class="redJs">JS</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
</body>
</html>
